<nz-layout class="app-layout">
    <nz-sider nzCollapsible nzWidth="256px" nzTheme="light">
        <div class="sidebar-header">
            <button nz-button nzType="text" (click)="goBackToUnit()">
                <span nz-icon nzType="arrow-left"></span>
                <span>Back to Unit</span>
            </button>
        </div>

        <ul nz-menu nzMode="inline">
            <li nz-menu-item [nzSelected]="currentPage === 'Overview'" (click)="systemOverviewPage()">
                <span nz-icon nzType="pie-chart"></span>
                <span>Overview</span>
            </li>
            <li nz-menu-item [nzSelected]="currentPage === 'Model'" (click)="viewModelPage()">
                <span nz-icon nzType="appstore"></span>
                <span>Model</span>
            </li>
            <li nz-menu-item [nzSelected]="currentPage === 'Analysis'" (click)="viewAnalysisPage()">
                <span nz-icon nzType="line-chart"></span>
                <span>Analysis</span>
            </li>
            <li nz-menu-item [nzSelected]="currentPage === 'Configure'" (click)="viewConfigurationPage()">
                <span nz-icon nzType="edit"></span>
                <span>Configure</span>
            </li>
            <li nz-menu-item [nzSelected]="currentPage === 'Upload'" (click)="viewFileUploadPage()">
                <span nz-icon nzType="upload"></span>
                <span>File Upload</span>
            </li>
        </ul>
    </nz-sider>

    <nz-layout>
        <nz-header class="top-bar">
            <nz-breadcrumb>
                <nz-breadcrumb-item>Home</nz-breadcrumb-item>
                <nz-breadcrumb-item>User</nz-breadcrumb-item>
                <nz-breadcrumb-item>Unit</nz-breadcrumb-item>
                <nz-breadcrumb-item>System</nz-breadcrumb-item>
                <nz-breadcrumb-item *ngIf="currentPage === 'Overview'">Overview</nz-breadcrumb-item>
                <nz-breadcrumb-item *ngIf="currentPage === 'Model'">Model</nz-breadcrumb-item>
                <nz-breadcrumb-item *ngIf="currentPage === 'Analysis'">Analysis</nz-breadcrumb-item>
                <nz-breadcrumb-item *ngIf="currentPage === 'Configure'">Configure</nz-breadcrumb-item>
                <nz-breadcrumb-item *ngIf="currentPage === 'Upload'">File Upload</nz-breadcrumb-item>
            </nz-breadcrumb>
        </nz-header>

        <nz-content>
            <div class="inner-content">
                <router-outlet></router-outlet>
            </div>
        </nz-content>
    </nz-layout>
</nz-layout>